@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "TTRounds";
    src: url("../fonts/TTRounds-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "TTRounds";
    src: url("../fonts/TTRounds-Bold.otf") format("truetype");
}

/*	GLOBAL */

body {
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
    overflow-x: hidden;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
}

iframe {
    border: 0;
}

a {
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: TTRounds, sans-serif;
    color: #252525;
}

main > section {
    /*padding: 70px 0;*/
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

#btn-blue-1,
#btn-blue-2,
#btn-blue-3,
#btn-blue-4 {
    display: none;
}

.btn-blue {
    background-color: rgba(0, 158, 227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff;
    display: none;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.bg-blue {
    background-color: #009EE3;
}

/* ------------------------------------ */
.btn-effect {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;

    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
    color: #009EE3;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    color: #1369c3;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    border-bottom: 2px solid #1369c3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 2px solid #fff;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*	Preloader */
#preloader {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/* ------------------------------------ */
.loder-box {
    /*background-color: rgba(0, 0, 0, 0.02);*/
    border-radius: 1px;
    height: 100px;
    left: 50%;
    margin-left: -64px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 128px;
}

.battery {
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #4452aa solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
    -moz-animation: charge 5s linear infinite;
    animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
    background-color: #4452aa;
    border-radius: 0 1px 1px 0;
    content: "";
    height: 10px;
    position: absolute;
    right: -5px;
    top: 7px;
    width: 3px;
}

@-webkit-keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #4452aa;
    }
    100% {
        box-shadow: inset 60px 0px 0px #4452aa;
    }
}

@-moz-keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #4452aa;
    }
    100% {
        box-shadow: inset 60px 0px 0px #4452aa;
    }
}

@keyframes charge {
    0% {
        box-shadow: inset 0px 0px 0px #4452aa;
    }
    100% {
        box-shadow: inset 60px 0px 0px #4452aa;
    }
}

/*	Header */
#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;

    /*background-color: rgba(0, 0, 0, .4);*/
    background-color: rgba(0, 0, 0, 0.78);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
}

#navigation.animated-header {
    padding: 20px 0;
}

/*h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
}*/

.navbar-brand-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-brand-logo img {
    width: 56px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #505eed;
}

/* Slider */
#home-slider {
    position: relative;
    padding: 0;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sl-slide {
    z-index: 1;
}

.slide-caption {
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 11;
}

.slide-caption .caption-content {
    vertical-align: middle;
    display: table-cell;
}

.caption-content h2 {
    color: #fff;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.caption-content > span {
    display: block;
    font-size: 24px;
    margin-bottom: 45px;
}

.caption-content p {
    font-size: 29px;
    margin-bottom: 65px;
}

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 1;
}

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}

/* Default styles for background colors

.btn-effect:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;

    -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
}

.btn-effect:hover,
.btn-effect:active {
    color: #0e83cd;
}

.btn-effect:hover:after,
.btn-effect:active:after {
    width: 100%;
} */

.fancybox-item.fancybox-close {
    background: url("../img/icons/close.svg") no-repeat scroll 0 0 transparent;
    height: 50px;
    right: 0;
    top: 0;
    width: 50px;
}

.fancybox-next span {
    background: url("../img/right.png") no-repeat scroll center center #4452aa;
    height: 50px;
    width: 50px;
    right: 0;
}

.fancybox-prev span {
    background: url("../img/left.png") no-repeat scroll center center #4452aa;
    height: 50px;
    width: 50px;
    left: 0;
}

/* Portfolio */

#portfolio {
    padding: 70px 0;
    overflow: hidden;
}

.project-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.portfolio-decor-1 {
    position: absolute;
    right: -16rem;
    top: -11rem;
    width: 305px;
    height: 329px;
    background: url("../img/decor/drop_9.svg") no-repeat;
    background-size: contain;
    /*z-index: 50;*/
}

.portfolio-decor-2 {
    position: absolute;
    left: -24rem;
    top: 11rem;
    width: 405px;
    height: 429px;
    background: url("../img/decor/drop_13.svg") no-repeat;
    background-size: contain;
}

.portfolio-decor-3 {
    position: absolute;
    right: -18rem;
    bottom: -14rem;
    width: 321px;
    height: 329px;
    background: url("../img/decor/drop_10.svg") no-repeat;
    background-size: contain;
}

.portfolio-decor-4 {
    position: absolute;
    left: -26rem;
    bottom: -7rem;
    width: 421px;
    height: 429px;
    background: url(../img/decor/drop_12.svg) no-repeat;
    background-size: contain;
    /*z-index: 50;*/
}

.project-wrapper li {
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px;
}

.project-wrapper li:hover {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.portfolio-item {
    /*cursor: pointer;*/
    margin: 0 1% 1% 0;
    overflow: hidden;
    position: relative;
    width: 32%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.portfolio-item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*figcaption.mask {
    background-color: rgba(54, 55, 50, 0.79);
    bottom: -126px;
    color: #fff;
    padding: 25px;
    position: absolute;
    width: 100%;
    text-align: left;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}*/

.portfolio-item:hover figcaption.mask {
    bottom: 0;
}

/*figcaption.mask h3 {
    margin: 0;
    color: #fff;
}*/

ul.external {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -47px;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul.external li {
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

ul.external li a {
    background-color: rgba(255, 255, 255, 0.9);
    color: #818181;
    display: block;
    padding: 10px 18px 13px;

    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul.external li a:hover {
    background-color: #4452aa;
    color: #fff;
    border-bottom-left-radius: 10px;
}

.portfolio-item:hover ul.external {
    top: 0;
}

.fancybox-skin {
    border-radius: 0;
}

.fancybox-title.fancybox-title-inside-wrap {
    padding: 15px;
}

.fancybox-title h3 {
    margin: 0 0 15px;
}

.fancybox-title p {
    color: #818181;
    font-size: 16px;
    line-height: 22px;
}

.fancybox-title-inside-wrap {
    padding-top: 0;
}

/* services */
#services {
    width: 100%;
    /*height: 500px;*/
    padding: 70px 0;
    background: url(../img/decor-services.svg) no-repeat top left;
    background-color: #e5e5e5;
    overflow-x: hidden;
}

.services-title,
.services-desc {
    text-align: right;
    color: #1369c3;
}

.services-desc {
    line-height: 1;
    margin-bottom: 40px;
}

.color-dot {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
    text-align: right;
    padding-right: 20px;
    color: #5c83dc;
}

.color-dot-1:after {
    background-color: #1bcee4;
}

.color-dot-2:after {
    background-color: #9b3dbc;
}

.color-dot-1:after,
.color-dot-2:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 3px;
    right: 0;
}

/* collaboration */
#collaboration {
    position: relative;
    width: 100%;
    /*height: 500px;*/
    padding: 70px 0;
    background: url(../img/decor-collaboration.svg) no-repeat top right;
    overflow-x: hidden;
}

.collaboration-title,
.collaboration-desc {
    text-align: center;
    color: #1369c3;
}

.collaboration-desc {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.color-dot-collaboration {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
    text-align: left;
    padding-left: 20px;
    color: #5c83dc;
}

.color-dot-collaboration-1:before {
    background-color: #1bcee4;
}

.color-dot-collaboration-2:before {
    background-color: #9b3dbc;
}

.color-dot-collaboration-1:before,
.color-dot-collaboration-2:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

/* CUSTOM CODE */

#home-slider {
    position: relative;
}

.bg-img:before,
.bg-img:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
}

/*#home-slider:before {
    background: rgba(11, 53, 84, 0.7);
}*/

.bg-img:after {
    content: "";
    background: url("../img/slide_bg.png") repeat scroll 0 0 transparent;
    /*    width: 100%;
        height: 100%;
        position: absolute;*/
    z-index: 10;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
}

.social-button .social-link {
    /*display: inline-block;*/
    /*margin: 0 10px;*/
    margin: 0 5px;
    visibility: visible !important;
}

/*.social-button li:nth-child(2) {*/
/*    margin: 0 75px;*/
/*}*/

.social-button .social-link a {
    /*border: 2px solid #fff;*/
    /*border-radius: 50%;*/
    /*color: #6776ff;*/
    /*display: block;*/
    /*height: 90px;*/
    /*line-height: 96px;*/
    /*width: 90px;*/

    /*height: 64px;*/
    /*line-height: 75px;*/
    /*width: 64px;*/

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

/*.social-button li a:hover {*/
/*    color: #5061ff;*/
/*    border: 2px solid #5061ff;*/
/*}*/

.inst-icon {
    width: 14px;
    height: 14px;
}

.vk-icon {
    width: 18px;
    height: 18px;
}

/* Footer */

#footer {
    /* background-color: #2E2E2E; */
    /*background-color: #4146a9;*/
    background: url(../img/footer-map.png) no-repeat center, #4146a9;
    background-size: contain;
    padding: 101px 0;
    /* padding: 20px 0; */
    color: #fff;
}

.footer-content {
    /*width: 390px;*/
    /*margin: 0 auto;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.footer-content > div {
    margin-bottom: 40px;
}*/

#footer div p {
    font-size: 12px;
    line-height: 1.3;
    /*margin-bottom: 15px;*/
    /*text-transform: uppercase;*/
}

.footer-info,
.footer-copyright {
    color: #1bcee4;
}

.footer-info-left {
    text-align: left;
}

.footer-info-right {
    text-align: right;
}

.footer-copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20rem;
    font-size: 10px !important;
}

.subscribe-form {
    position: relative;
}

.subscribe.form-control {
    background-color: transparent;
    border: 1px solid #7f7f7f;
}

.subscribe.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.submit-icon {
    background-color: #7f7f7f;
    border: 0 none;
    border-radius: 0;
    color: #c1c1c1;
    padding: 13px 20px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.submit-icon .fa-paper-plane {
    position: relative;
    top: 0;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    -webkit-transition: all 0.3s ease 0.2s;
    -moz-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
}

.submit-icon:hover .fa-paper-plane {
    position: relative;
    top: -37px;

    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
}

.footer-social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18rem;
    /*margin: 40px 0 0;*/
}

.footer-social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-social ul li {
    display: inline-block;
    margin: 0 10px;
    visibility: visible !important;
}

.footer-social ul li a {
    color: #1bcee4;
    display: block;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.footer-social ul li a:hover {
    color: #1a97ad;
}

/*.footer-content > p {
    color: #ababab;
    font-size: 12px;
}*/

.back-to-top {
    position: fixed;
    display: none;
    background: linear-gradient(45deg, #9b3dbc, #5061ff);
    color: #fff;
    padding: 2px 20px 8px 20px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    right: 15px;
    bottom: 0;
    transition: none;
}

.back-to-top:hover {
    background: #1bcee4;
    color: #fff;
}

/* Media Query */

@media (min-width: 1700px) {
    .collaboration-decor-1 {
        position: absolute;
        left: 39rem;
        right: 0;
        top: 16rem;
        margin: 0 auto;
        width: 264px;
        height: 264px;
        background: url(../img/decor/drop_12.svg) no-repeat;
        background-size: contain;
    }
}

/*------------------------------------ */

@media (max-width: 991px) {
    .services-title {
        margin-top: 220px;
    }

    .collaboration-title {
        margin-top: 300px;
    }

    .services-desc,
    .color-dot,
    .color-dot-collaboration {
        font-size: 12px;
    }
}

@media (min-width: 980px) and (max-width: 1150px) {

    /*about*/
    #about .welcome-block img {
        margin-bottom: 30px;
    }

    /* portfolio */
    /*    figcaption.mask {
            bottom: -151px;
        }*/
    .testimonial-item > div:after {
        bottom: -40px;
    }
}


/* ------------------------------------ */

@media (min-width: 767px) and (max-width: 990px) {
    .collaboration-title {
        margin-top: 575px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    /* home slider  */
    .caption-content h2 {
        font-size: 40px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 45px;
    }

    /* about */
    .recent-works {
        margin-bottom: 50px;
    }

    .service-item {
        margin-bottom: 50px;
    }

    /* portfolio */
    .portfolio-item {
        width: 48%;
    }

    /* testimonial */
    .testimonial-item {
        width: 100%;
    }

    .testimonial-item {
        width: 80%;
    }

    .testimonial-item > div:after {
        bottom: -35px;
    }
}


/* ------------------------------------ */
@media only screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .parallax {
        background-position: centet tip !important;
    }

    .sec-title h2,
    h1 {
        font-size: 25px;
    }

    .sec-title h2:after {
        left: 30%;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }

    .social-button {
        padding-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .caption-content h2 {
        font-size: 18px;
    }

    .caption-content > span {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .caption-content p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .caption-content strong {
        font-size: 22px;
    }

    .recent-works {
        margin-bottom: 85px;
    }

    #about h3 {
        font-size: 18px;
        margin: 0 0 35px !important;
    }

    #about .owl-buttons {
        margin-top: 20px;
    }

    #about .message-body {
        margin-bottom: 45px;
    }

    #about .welcome-block img {
        margin: 0 25px 15px 0;
    }

    .service-item {
        width: 100%;
    }

    .portfolio-item {
        margin: 0 auto 10px;
        font-size: 14px;
        width: 280px;
    }

    /*    figcaption.mask {
            bottom: -107px;
            color: #fff;
            padding: 15px;
        }*/
    /*    figcaption.mask p {
            line-height: 1;
        }*/
    .fancybox-title h3 {
        font-size: 20px;
    }

    .fancybox-title p {
        font-size: 14px;
    }

    .testimonial-item {
        width: 95%;
    }

    .testimonial-item > div:before,
    .testimonial-item > div:after {
        background-image: none;
    }

    .testimonial-item > div > span {
        margin: 30px 0 20px;
    }

    /* follow us */
    /*.social-button li:nth-child(2) {*/
    /*    margin: 0 25px;*/
    /*}*/
    .social-button {
        bottom: 1rem;
    }

    /*.social-button li a {*/
    /*    height: 65px;*/
    /*    line-height: 71px;*/
    /*    width: 65px;*/
    /*}*/
    .footer-content {
        width: 100%;
    }

    .footer-info {
        padding: 15px 0;
        text-align: center;
    }

    .footer-social {
        bottom: -20rem;
    }

    .footer-copyright {
        bottom: -22rem;
    }

    .footer-social ul li {
        margin: 0 7px;
    }
}

@media only screen and (min-width: 768px) {
    #navbar-right {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
}

/* ------------------------------------ */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .collaboration-title {
        margin-top: 455px;
    }

    .sec-title h2:after {
        left: 38%;
    }

    .caption-content h2 {
        font-size: 35px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 35px;
    }

    #about .welcome-block h3 {
        margin: 0 0 35px;
    }

    .service-item {
        margin: 0 auto 50px;
        width: 55%;
    }

    .portfolio-item {
        width: 48%;
    }

    /*    figcaption.mask {
            bottom: -132px;
        }*/
    /* testimonial */
    .testimonial-item {
        width: 80%;
    }

    .testimonial-item > div:before {
        bottom: 160px;
    }


    /*.social-button li:nth-child(2) {*/
    /*    margin: 0 50px;*/
    /*}*/
    /*.social-button li a {*/
    /*    height: 90px;*/
    /*    line-height: 96px;*/
    /*    width: 90px;*/
    /*}*/
    .footer-content {
        width: 380px;
    }
}