body {
    font-family: Hivesregular;

}


@font-face {
    font-family: 'Hivesregular';
    src: url("../fonts/TTHoves-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Hivesmedium';
    src: url("../fonts/TTHoves-Medium.ttf");
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

header {
    height: auto;
    background: #1A56FF;
    padding: 20px 0px;
    border-bottom: 2px #2E65FD solid;
}

.logo img {
    width: 100%;
    height: auto;

}

.qnav > ul > li > a {
    color: #fff;

}

.qnav > ul > li > a:hover {
    color: #CBD9FD;

}

.qnav > ul > li > a:active {
    color: #fff;

}

.h-devider {

    width: 100%;

}

.hprofile {
    background: #fff;
    height: 40px;
    width: 170px;
    border-radius: 25px;
    padding: 5px 20px;
}

.hprofile img {
    width: 20px;
    height: 20px;
}

.hprofile:hover {
    background: #CBD9FD;


}

.hprofile a {
    color: #111;
    font-size: 10px;
    text-decoration: none;
}

.hprofile a:hover {
    color: #1A56FF;
}

.first {

    width: 100%;;
    background: #1A56FF;
}

.first > .container {
    background: url(../img/1.png);
    background-position: right center;
    background-size: contain;
    background-size: auto 70%;
    background-repeat: no-repeat;
    height: 100%;
}

.first-cont p {

}

.dark-btn {
    text-decoration: none;
    color: #fff;
    background: #23262F;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 30px 0;
    border: #23262F 1px solid;
}

.dark-btn:hover {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    border: #23262F 1px solid;
}

.first-cont {
    margin-top: 100px;
    padding: 0 0 80px;
}

.first-cont h1 {
    font-size: 120px;
    color: #fff;
    font-family: Hivesregular;
    line-height: 120px;
}

.first-cont p {
    font-size: 20px;
    color: #fff;
    font-family: Hivesregular;
    width: 70%;
    margin: 40px 0;
}

.second {

    margin-top: -40px;
    color: #fff;
}

.second > .container {
    background: #23262F;
    border-radius: 25px;

}

.second > .container > .row {
    padding: 30px 40px;

}

.sec-cont-one h2 {
    font-family: Hivesmedium;
    font-size: 48px;
    color: #fff;
}

.sec-cont-one p {
    font-family: Hivesmedium;
    font-size: 22px;
    color: #fff;
}

.h-sec-cont-one {
    margin-bottom: 50px;
}

.sec-cont-two li {
    color: #BDBEC1;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 0;
}

.sec-cont-two strong {

    font-size: 22px;
}

.list-arend {
    margin-top: 60px;
    margin-bottom: 50px;
    border-bottom: 2px solid #363942;
    padding-bottom: 50px;

}

.sec-cont-two ul {
    padding: 20px 0 0 15px;
}

.light-btn {
    text-decoration: none;
    color: #fff;
    background: none;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 30px 0;
    border: 1px solid #fff;
}

.light-btn:hover {
    border: 1px solid #111;
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 30px 0;
}

.therd {
    height: auto;
    margin-top: -10px;
    color: #111;
}

.therd > .container {
    background: #F5C66A;
    border-radius: 25px;
    background: url(../img/img_3.png);
    background-position: 120% center;
    background-size: contain;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #F5C66A;
    padding-bottom: 20px;
}

.mini-h {
    color: #1B57FF;
    font-size: 16px;

}

.therd h2 {
    font-size: 48px;
}

.therd > .container > .row {
    padding: 30px 0;
}

.therd-cont-p {
    font-size: 20px;
    line-height: 28px;
}

.therd-cont {

    padding: 0px 50px;
}

.forth {

    margin-top: -10px;
    color: #111;
}

.forth > .container {
    background: #F9F9FE;
    border-radius: 25px;


}

.forth > .container > .row {
    padding: 30px 35px;
}

.forth h2 {
    font-size: 48px;
}

.forth-cont-one p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
}

.forth-tretii-block {
    border-top: 2px solid #E0E0E5;
    padding-top: 40px;
}

.prim-bl img {
    float: left;
}

.prim-bl p {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 30px;
}

.five {

    margin-top: -10px;
    color: #111;
}

.five > .container {
    background: #F4F4FA;
    border-radius: 25px;
    min-width: 90%;
}

.five > .container > .row {
    padding: 0 0 0 35px;
}

.five-cont-two {
    padding-right: 0;

}

.five-cont-one .mini-h {
    margin-top: 55px;
    font-size: 20px;
    line-height: 28px;
}

.five h2 {
    font-size: 48px;
}

.five-cont-one li {
    color: #111;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 0;
}

.five-cont-one ul {
    padding: 20px 0 0 15px;
}

.light-btn-dop {
    text-decoration: none;
    color: #111;
    background: none;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 30px 0;
    border: 1px solid #111;
}

.light-btn-dop:hover {
    border: 1px solid #111;
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    margin: 30px 0;
}

.six {
    margin: 100px auto;
}

.qaccord .card-header {
    background: none;
}

.qaccord .card-header h5 button {
    font-size: 28px;
    color: #111;
}

.card {
    border: none;
    border-bottom: 1px #111 solid;
    border-radius: 0;
}

.plus-btn {
    float: right;
    padding: 10px 0;
}

.header-accord {
    font-size: 80px;

}

footer {
    background: #23262F;
    padding: 40px 0;
}

.tel-footer {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.tel-footer:hover {
    color: #1A56FF;
    font-size: 20px;
    text-decoration: none;
}

.podp-tel {
    font-size: 14px;
    color: #919397;

}

.map-footer {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.map-footer:hover {
    font-size: 14px;
    line-height: 16px;
    color: #919397;
    display: block;
    text-decoration: none;
}

footer > .container > .row > div > img {
    float: left;
    margin: 5px 5px;
}

.cpr {
    color: #fff;
}

.foot-menu {
    color: #fff;
    padding: 0 10px;
}

.qnav > nav {
    background: none !important;
    padding: 0;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #e1e1e1;
}

.navbar-toggler {
    background: none;
    margin: 0 0 0 auto;
    color: #fff !important;
    border: none !important;
}

.navbar-toggler > span {
    color: #fff;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    background-size: 80px 80px;
    display: block;
    height: 80px;
    width: 80px;
}

.nav-link {
    display: block;
    padding: .5rem 0.5rem;
}

/******** media query *********************************************************************************/
@media (max-width: 1199px) {
    .wrapper h2 {
        padding: 1.25rem;
    }

    .second {
        margin-top: 0;
    }

    .therd > .container > .row {
        padding: 30px 0 85px;
    }

    .forth > .container > .row {
        padding: 30px 35px 85px;
    }

    .six {
        margin: 196px auto;
    }
}

@media (max-width: 1025px) {
    .wrapper h1 {
        font-size: 96px;
        line-height: 80px;
    }

    .wrapper h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .second > .container > .row {
        padding: 30px 40px 115px;
    }

    .therd > .container > .row {
        padding: 30px 0 85px;
    }

    .forth-tretii-block {
        padding-bottom: 55px;
    }

    .five img {
        margin-bottom: 40px;
    }

    .six {
        margin: 196px auto;
    }
}

@media (max-width: 991.98px) {
    .nav > li {
        width: 100%;
        background: #658EFF;
    }

    .first-cont h1 {
        color: #fff;
        font-family: Hivesregular;
        line-height: 80px;
        text-align: center;
    }

    .dark-btn {
        margin: auto;
    }

    .logo {
        width: 30%;
    }

    .qnav {
        width: 70%;
    }

    .first-cont {
        margin-top: 100px;

    }

    .first-cont p {
        font-size: 20px;
        line-height: 28px;
        color: #fff;
        font-family: Hivesregular;
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }

    .first > .container {
        background: url(../img/1.png);
        background-position: 70% 240%;
        background-repeat: no-repeat;
        min-height: 800px;
    }

    .first {
        height: auto;
        width: 100%;
        background: #1A56FF;
    }

    .second > .container,
    .therd > .container,
    .therd > .container,
    .forth > .container {
        max-width: 100%;
    }

    .sec-cont-two strong {
        font-size: 24px;
        line-height: 32px;
    }

    .h-sec-cont-one {
        width: 70%;
        float: left;
        margin: 0;
    }

    .list-arend {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .img-sec-cont-one {
        width: 30%;
        float: left;
    }

    .dark-btn {
        text-decoration: none;
        color: #fff;
        background: #23262F;
        padding: 10px 10px;
        border-radius: 25px;
        border: #23262F 1px solid;
        display: block;
        text-align: center;
        width: 180px;
    }

    .dark-btn:hover {
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 25px;
        margin: 20px auto;
        display: block;
        text-align: center;
        width: 180px;
    }

    .therd > .container {
        background: url(../img/bg3mob.png);
        background-position: center 400px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 900px;
        background-color: #EABD65;
    }

    .list-pokypka {

        margin-bottom: 20px;
    }

    .five-cont-one a {
        max-width: 45%;
        float: left;
        margin: 20px 10px 0;
        height: 50px;
    }

    .six {
        margin: 196px auto;
    }

    .six > .container {
        margin: 0 auto;
        min-width: 90%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .therd {
        margin-top: 0;
    }

    .plus-btn {
        float: right;
        padding: 10px 12px;
    }
}

@media (max-width: 576px) {
    .wrapper h1 {
        font-size: 60px;
        line-height: 48px;
    }

    .wrapper h2 {
        font-size: 24px;
        line-height: 24px;
        padding: 0;
        margin-bottom: 16px;
    }

    .first-cont {
        padding: 0 16px 80px;
    }

    .second {
        margin-top: -30px;
    }

    .second > .container > .row {
        padding: 30px 16px 115px;
    }

    .light-btn,
    .dark-btn,
    .light-btn-dop {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .sec-cont-two strong {
        font-size: 16px;
    }

    .sec-cont-two li {
        font-size: 14px;
        line-height: 20px;
    }

    .therd-cont {
        padding: 0 16px;
    }

    .therd-cont-p {
        font-size: 18px;
        line-height: 24px;
    }

    .forth > .container > .row {
        padding: 30px 0 85px;
    }

    .five > .container > .row {
        padding: 0;
    }

    .five-cont-one a {
        max-width: 100%;
        margin: 20px 0;
        float: none;
    }

    .six .header-accord {
        font-size: 32px;
        line-height: 32px;
        padding: 0 1.25rem;
    }

    .qaccord {
        padding: 0 16px;
    }

    .qaccord .card-header {
        padding: 0.75rem 0;
    }

    .qaccord .card-header h5 {
        display: flex;
        justify-content: space-between;
    }

    .qaccord .card-header h5 button {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }

    .plus-btn {
        float: none;
    }

    .footer__col {
        border-bottom: 1px solid #A9A9A9;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0 16px;
        overflow: auto;
    }

    .footer__col__info {
        display: flex;
        flex-flow: column;
    }

    .footer__col__info .foot-menu {
        padding: 6px 0;
    }
}