@font-face {
    font-family: robot-slab;
    src: url('../fonts/RobotoSlab-Regular.ttf');
    src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

.blog-box1 .cdfik li {
    float: left;
    padding: 11.5px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.blog-box1 .sd-op {
    background-color: #555fae;
    text-align: center;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 5px;
}

.blog-box1 .cdfik {
    width: 100%;
}

.blog-box1 .pof-det {
    padding: 10px;
    padding-left: 10px;
    padding-left: 60px;
}

.blog-box1 .pof-det b {
    font-size: 13px;
}

.blog-box1 .pof-det p {
    font-size: 13px;
    text-align: justify;
    text-indent: 20px;
    margin-top: 5px;
}

.blog-box1 .sd-op b {
    font-size: 22px;
}

/* ===================================== Basic CSS ================================== */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}

.cp {
    cursor: pointer;
}

p {
    margin-bottom: 0px;
    width: 100%;
}

.layy-1,
.layy-2,
.layy-3,
.layy-4 {
    padding: 30px;
}

h2 {
    width: 100%;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.sec-title {
    text-align: center;
    padding-bottom: 45px;
}

.sec-title h2,
.key-feature-conten-title {
    font-size: 2rem;
    font-weight: 600;
}

.key-feature-conten-title {
    text-align: center;
    color: #212529;
    padding-bottom: 45px;
}

.sec-title p {
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    /*background: #f4f4f4;*/
    background: #fff;
    font-family: robot-slab;
    font-size: 0.85rem;
    overflow-x: hidden;
}

section {
    scroll-behavior: smooth;
}

@media screen and (max-width: 1080px) {
    .container {
        width: 100% !important;
        max-width: 100%;
    }
}

.page-nav {
    padding: 40px;
    text-align: center;
}

.page-nav ul {
    float: none;
    margin: auto;
}

.page-nav h2 {
    font-size: 40px;
    color: #444;
}

.page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.page-nav ul li i {
    width: 30px;
    text-align: center;
    color: #444;
}

.page-nav ul li a {
    color: #444;
}

/* ===================================== Header Style  ================================== */
header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header-top {
    background-color: rgb(34, 53, 121);
    color: #FFF;
}

.header-top a {
    color: #FFF;
}

.header-top li {
    font-weight: 300;
    font-size: 13px;
}

.header-top .head-links li {
    float: left;
    list-style: none;
    padding: 10px;
}

.header-top .social-links li {
    float: right;
    list-style: none;
    padding: 10px;
}

.header-top .social-links li {
    padding-right: 20px;
}

nav {
    background-color: #FFF;
    padding: 5px;
}

nav ul {
    float: right;
}

nav a {
    color: #FFF;
}

nav img {
    width: 90%;
}

nav i {
    margin-right: 15px !important;
}

/*@media screen and (min-width: 769px) {
    .header-top {
        display: none !important;
    }
}*/

@media screen and (max-width: 768px) {
    #key-feature-conten {
        padding-top: 30px;
    }

    .key-feature-conten-title {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 760px) {
    nav img {
        width: 65%;
    }

    nav .menu-tab {
        display: none;
        padding: 0px;
        margin-top: 5px;
    }

    nav li {
        width: 100%;
        border-top: 1px solid #CCC;
    }

    nav li i {
        float: right;
    }
}

@media screen and (max-width: 1200px) {
    nav li {
        padding: 25px 15px !important;
    }
}

@media screen and (max-width: 914px) {
    nav .menu-tab {
        display: none;
        padding: 0px;
        margin-top: 5px;
    }

    nav .small-menu {
        display: block !important;
    }

    nav .col-sm-3 {
        max-width: 100%;
    }

    nav img {
        width: 100%;
    }

    nav li {
        padding: 10px 25px !important;
    }

    nav .col-sm-8 {
        padding: 0px;
    }
}

@media screen and (max-width: 600px) {
    nav img {
        width: 100%;
    }

    nav .small-menu {
        margin-top: 8px !important;
    }
}

@media screen and (max-width: 570px) {
    nav img {
        width: 60%;
    }

    nav .small-menu {
        margin-top: -65px !important;
    }
}

@media screen and (max-width: 450px) {
    nav img {
        width: 60%;
    }

    nav .small-menu {
        margin-top: -53px !important;
    }
}

@media screen and (max-width: 350px) {
    nav img {
        width: 60%;
    }

    nav .small-menu {
        margin-top: -16% !important;
    }
}

nav li {
    font-weight: 300;
    font-size: 14px;
    padding: 25px 15px;
    float: left;
}

nav li i {
    margin-left: 3px;
}

nav li:hover .sub-menu {
    display: block;
}

nav li:hover .sub-menu a {
    color: #444;
}

nav li:hover a {
    color: rgb(34, 53, 121);
}

nav a {
    color: #444;
    text-transform: uppercase;
}

nav .small-menu {
    float: right;
    color: #FFF;
    font-size: 20px;
    background-color: #555fae;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 10px;
    margin-right: -5px;
}

.scroll-to-fixed-fixed {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sub-menu {
    z-index: 999;
}

.sub-menu-two-col {
    position: absolute;
    width: 400px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    margin-top: 20px;
    display: none;
    margin-left: -20px;
}

.sub-menu-two-col li {
    padding: 14px;
    border-bottom: 1px solid #F6F6F6;
}

.sub-menu-two-col li:nth-child(odd) {
    border-right: 1px solid #F6F6F6;
}

.sub-menu-two-col li {
    width: 50%;
}

.sub-menu-single-col {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    margin-top: 20px;
    display: none;
    margin-left: -20px;
}

.sub-menu-single-col li {
    padding: 14px;
    border-bottom: 1px solid #F6F6F6;
}

.sub-menu-single-col li:nth-child(odd) {
    border-right: 1px solid #F6F6F6;
}

.sub-menu-single-col li {
    width: 100%;
}

.sub-menu-three-col {
    position: absolute;
    width: 600px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    margin-top: 20px;
    display: none;
    margin-left: -50%;
}

.sub-menu-three-col li {
    padding: 14px;
    border-bottom: 1px solid #F6F6F6;
}

.sub-menu-three-col li:nth-child(odd) {
    border-right: 1px solid #F6F6F6;
}

.sub-menu-three-col li {
    width: 33.33%;
    border-right: 1px solid #F6F6F6;
}

.scroll-to-fixed-fixed {
    width: 100% !important;
}

@media screen and (max-width: 914px) {
    .sub-menu {
        position: relative !important;
        box-shadow: 0px;
    }

    .sub-menu li {
        width: 100%;
    }

    .sub-menu-single-col {
        width: 100%;
    }

    .sub-menu-two-col {
        width: 100%;
    }

    .sub-menu-three-col {
        width: 100%;
        margin-left: 0px;
    }

    .sub-menu-three-col li {
        width: 100%;
    }
}

/* ===================================== Key Features Style  ================================== */
.key-feature-conten {
    padding-top: 100px;
    color: #FFF;
    width: 100%;
    margin: 0 auto;
}

.key-feature-conten-title {

}

.key-feature-conten b {
    font-size: 1rem;
}

.key-feature-conten p {
    margin-top: 10px;
}

.key-feature-conten i {
    font-size: 42px;
    margin-bottom: 30px;
}

.key-feature-conten .col-md-3:nth-child(odd) {
    padding: 0px;
    text-align: center;
}

.key-feature-conten .col-md-3:nth-child(odd) .layy-1 {
    background: rgba(34, 53, 146, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(even) .layy-2 {
    background: rgba(34, 53, 146, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(odd) .layy-3 {
    background: rgba(34, 53, 146, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(even) .layy-4 {
    background: rgba(34, 53, 146, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(even),
.key-feature-conten .col-md-9:nth-child(odd) {
    padding: 0;
    text-align: center;
}

.key-feature-conten .col-md-9 .layy-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.key-feature-conten .col-md-9 .layy-4 b {
    font-size: 3rem;
}

.key-feature-conten .col-md-3:nth-child(even) .layy-1 {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(odd) .layy-2 {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-3:nth-child(even) .layy-3 {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
}

.key-feature-conten .col-md-9:nth-child(odd) .layy-4 {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
}

.key-feature-conten .key-feature-1 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-2 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-3 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-4 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-5 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-6 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-7 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-8 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-9 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-10 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-11 {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-12 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-13 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.key-feature-conten .key-feature-14 {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
}

.tp-leftarrow {
    left: 0 !important;
}

.tp-rightarrow {
    right: 0 !important;
}

/*/// Flip Blocks ///*/

.square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /*border:1px solid #efefef;*/

    position: relative;
    float: left;
    margin: 20px;

}

.square-flip {
    width: 400px;
    height: 400px;
}

@media (max-width: 576px) {
    .square-flip {
        width: 100%;
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .slider .medium_font_size {
        margin-top: 0;
    }

    .tp-caption.dark_font_color,
    .tp-simpleresponsive .tp-caption {
        padding: 5px 5px !important;
    }
}

.square, .square2 {
    width: 100%;
    height: 100%;
}

.square {

    background-size: cover;
    background-position: center center;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;

    position: absolute;
    top: 0;


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}


.square2 {

    background-size: cover;
    background-position: center center;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    overflow: hidden;

    position: absolute;
    top: 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

/*Square content*/
.square-container {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);


    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    transform-style: preserve-3d;
    z-index: 2;
}

.square-flip:hover .square-container {

    -webkit-transform: translateY(-50%) translateX(-650px) scale(.88);
    -ms-transform: translateY(-50%) translateX(-650px) scale(.88);
    transform: translateY(-50%) translateX(-650px) scale(.88);
    transform-style: preserve-3d;

}

.square-container2 {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;

    -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
    -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);


    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

    transform-style: preserve-3d;
    z-index: 2;
}

.square-flip:hover .square-container2 {

    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform-style: preserve-3d;
}


/*Style text*/
.square-flip h2 {
    color: white;
    /*font-family: "Open Sans";*/
    font-weight: 700;
    font-size: 22px;
}

.square-flip h3 {
    color: white;
    /*font-family: "Open Sans";*/
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

/*Elements*/
.flip-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.align-center {
    margin: 0 auto;
}

.kallyas-button {
    display: block;
    width: 160px;
    padding: 18px 30px;
    /*font-family: "Open Sans";*/
    font-weight: 600;
    color: #fff;
    background: #FF2024;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
    background: #ffa067; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffa067 0%, #ff2959 49%, #ff2024 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffa067 0%, #ff2959 49%, #ff2024 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa067', endColorstr='#ff2024', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}


/*ADD SHADOWS OPTIONAL*/
.square-flip .square .boxshadow, .square-flip .square .textshadow, .square-flip .square2 .boxshadow, .square-flip .square2 .textshadow {
    -ms-transition: 0.60s;
    transition: 0.60s;
    -webkit-transition: 0.60s;
}

.square-flip .square .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip .square .textshadow {
    -webkit-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}

.square-flip:hover .square .boxshadow, .square-flip:hover .square .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}


.square-flip .square2 .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip .square2 .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0.0);
}

.square-flip:hover .square2 .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
}


/*You can delete this style*/
.centerflipcards {
    display: block;
    width: 1330px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*margin-top: 25px;*/
}

.centerflipcards p {
    /*font-family: "Open Sans";*/
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
}


/*//////*/

/* ===================================== Slider Style  ================================== */
.slider {
    overflow: hidden;
    margin-top: 5px;
}

@media screen and (max-width: 720px) {
    .slider .medium_font_size {
        margin-top: 30px;
    }

    #slider .layer-five {
        left: 2rem !important;
    }

    .slider .mini_font_size {
        display: none;
    }

    .slider .small_font_size {
        display: none;
    }

    .layer-four {
        display: none !important;
    }

    .slide-btn {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .slider .btn-large {
        display: none;
    }

    .slider .medium_font_size {
        font-size: 10px !important;
        /*margin-top: 20px !important;*/
    }
}

/* ===================================== What-we-do Style  ================================== */
.wat-we-do {
    padding: 60px;
    background-color: #FFF;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .wat-we-do {
        padding: 30px 10px;
    }
}

.wat-we-do i {
    padding: 20px;
    border: 1px solid #F2F2F2;
    margin-bottom: 20px;
    font-size: 40px;
    color: #555fae;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.wat-we-do p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.wat-we-do b {
    font-size: 14px;
}

.wat-we-do .col-sm-4 {
    padding: 30px;
}

/* ===================================== home-page-About-us Style  ================================== */
.home-about {
    height: 400px;
    overflow: hidden;
}

.home-about .about-img {
    padding: 0;
}

.home-about .about-img img {
    width: 100%;
}

@media screen and (max-width: 580px) {
    .home-about {
        height: auto;
    }
}

.home-about .adout-det {
    background-image: url("../images/key_features_02.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 0px;
}

.home-about .adout-det .layy {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
    color: #FFF;
    padding: 40px 40px 64px;
}

.home-about .adout-det b {
    font-size: 2rem;
}

.home-about .adout-det p {
    text-align: justify;
    text-indent: 25px;
    margin-top: 15px;
}

@media (max-width: 1025px) {
    .home-about {
        height: auto
    }
}

@media (max-width: 1367px) {
    .home-about .adout-det p {
        margin-top: 5px;
    }
}

@media (max-width: 1441px) {
    .home-about .adout-det .layy {
        padding: 16px 40px 46px;
    }

    .home-about .adout-det p {
        font-size: 12px;
    }
}

/* ===================================== Home-page-blog Style  ================================== */
.home-blog {
    padding: 60px;
    background-color: #FFF;
}

.blog-img {
    text-align: center;
}

.blog-img img {
    max-width: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 720px) {
    .home-blog {
        padding: 10px;
    }

    .home-blog .sec-title {
        padding-bottom: 20px;
    }
}

.blog-1 {
    background-color: #FFF;
    margin-top: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}

.blog-1 .cdfik li {
    float: left;
    padding: 11.5px;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.blog-1 .sd-op {
    background-color: #555fae;
    text-align: center;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 5px;
}

.blog-1 .cdfik {
    width: 100%;
}

.blog-1 .pof-det {
    padding: 10px;
    padding-left: 10px;
    text-align: center;
    /*padding-left: 60px;*/
}

.blog-1 .pof-det b {
    font-size: 13px;
}

.blog-1 .pof-det p {
    font-size: 13px;
    text-align: justify;
    text-indent: 20px;
    margin-top: 5px;
}

.blog-1 .sd-op b {
    font-size: 22px;
}

/* ===================================== Testimonial Style  ================================== */
.testimonial-container {
    background-image: url("../images/key_features_01.jpg");
    background-size: cover;
    background-position: center;
}

.testimonial-container .layy {
    background: rgba(34, 53, 121, 0.9);
    height: 100%;
    width: 100%;
    color: #FFF;
    padding: 100px 60px;
}

.testimonial-container .owl-theme .owl-controls {
    margin-left: 0;
}

@media screen and (max-width: 720px) {
    .testimonial-container .layy {
        padding: 10px;
    }
}

/* ===================================== Clinet-list Style  ================================== */
.client-list {
    background-color: #FFF;
    padding: 60px;
}

.card-1 {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);;
}

@media screen and (max-width: 720px) {
    .client-list {
        padding: 20px;
    }
}

/* ===================================== Footer Style  ================================== */
footer {
    padding: 40px;
    background-color: rgba(34, 53, 121, 0.9);
    color: #FFF;
}

footer a,
footer a:hover,
footer p {
    color: #FFF;
}

footer .blog-foot-cont b {
    font-size: 13px;
}

footer .blog-ro {
    padding: 5px 0px;
}

footer h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer li {
    padding: 6px;
}

.footer-col {
    text-align: center;
}

@media screen and (max-width: 720px) {
    footer {
        padding: 20px;
    }

    footer h2 {
        margin-top: 30px;
    }
}

/* ===================================== Copyright Style  ================================== */
.copy {
    background-color: rgb(34, 53, 121);
    padding: 20px;
    color: #FFF;
    text-align: center;
}

.copy a {
    color: #FFF;
}

.copy img {
    width: 20px;
    margin-left: 7px;
    margin-right: 2px;
}

/* ===================================== About Us(About Us Page) Style  ================================== */
/*.about-us {
    padding: 40px;
    background-color: #FFF;
}

.about-us p {
    text-align: justify;
    font-size: 13px;
    text-indent: 20px;
}*/

.cooperation-block {
    margin-bottom: 40px;
}

.cooperation {
    padding: 40px;
    background-color: #FFF;
}

.cooperation p {
    text-align: justify;
    font-size: 13px;
    text-indent: 20px;
}

/* ===================================== Our Team Style  ================================== */
.our-team {
    padding: 40px;
}

.our-team .team-member {
    padding: 10px;
    background-color: #FFF;
    text-align: center;
}

.our-team .team-member img {
    margin-bottom: 5px;
}

.our-team .team-member p {
    margin-top: 5px;
}

.our-team .team-member b {
    padding: 5px;
}

.our-team .team-member ul li {
    float: left;
    padding: 5px;
    width: 20%;
    text-align: center;
    border: 1px solid #CCC;
}

.our-team .team-member ul {
    margin: 0px;
    margin-top: 10px;
}

/* ===================================== Gallery Style  ================================== */
.gallery-filter {
    width: 100%;
    text-align: center;
}

.gallery-filter .btn {
    background-color: #FFF;
}

.gallery {
    padding: 30px;
    background-color: #FFF;
}

.gallery-title {
    font-size: 36px;
    color: #29509f;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #29509f;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #29509f;
    border-radius: 5px;
    text-align: center;
    color: #29509f;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #29509f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #29509f;
}

.btn-default:active .filter-button:active {
    background-color: #29509f;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}

/* CUSTOM STYLE */
.header-logo {
    width: 68px;
    height: auto;
}

.tp-caption:not(.tp-caption-btn) {
    padding: 0 15px;
    background-color: rgba(255, 255, 255, 0.85);
}

.tp-caption img {
    max-width: 240px !important;
    height: auto !important;
}

.tp-caption .slide-02-image-01 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tp-caption.dark_font_color,
.tp-simpleresponsive .tp-caption {
    color: rgb(34, 53, 121);
}

.slide-btn a:hover {
    background-color: #fe0a00 !important;
}

.btn-success {
    color: #fff !important;
}

.tp-loader {
    display: none;
}

.key-feature-conten-desc {
    text-align: left;
}

.nb-jkj {
    background-color: rgba(34, 53, 121, 0.9);
}

@media (min-width: 2047px) {
    .tp-bgimg {
        background-position: inherit !important;
    }
}